In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import jinja2

In [29]:
df = pd.read_csv('Engineering_graduate_salary.csv')
df.head()

,ID,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,f,1990-10-22,87.80,cbse,2009,84.00,cbse,6920,1,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,988334,m,1990-05-15,57.00,cbse,2010,64.50,cbse,6624,2,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,301647,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,9084,2,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,582313,m,1991-05-04,84.30,cbse,2009,86.00,cbse,8195,1,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,339001,f,1990-10-30,82.00,cbse,2008,75.00,cbse,4889,2,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [30]:
df1 = df.drop(['ID','CollegeID','CollegeCityID'],axis=1)
df1.shape

(2998, 31)

In [31]:
df1.head()

,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,f,1990-10-22,87.80,cbse,2009,84.00,cbse,1,B.Tech/B.E.,instrumentation and control engineering,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,m,1990-05-15,57.00,cbse,2010,64.50,cbse,2,B.Tech/B.E.,computer science & engineering,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,2,B.Tech/B.E.,electronics & telecommunications,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,m,1991-05-04,84.30,cbse,2009,86.00,cbse,1,B.Tech/B.E.,computer science & engineering,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,f,1990-10-30,82.00,cbse,2008,75.00,cbse,2,B.Tech/B.E.,biotechnology,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2998 entries, 0 to 2997
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 2998 non-null   object
 1   DOB                    2998 non-null   object
 2   10percentage           2998 non-null   float64
 3   10board                2998 non-null   object
 4   12graduation           2998 non-null   int64
 5   12percentage           2998 non-null   float64
 6   12board                2998 non-null   object
 7   CollegeTier            2998 non-null   int64
 8   Degree                 2998 non-null   object
 9   Specialization         2998 non-null   object
 10  collegeGPA             2998 non-null   float64
 11  CollegeCityTier        2998 non-null   int64
 12  CollegeState           2998 non-null   object
 13  GraduationYear         2998 non-null   int64
 14  English                2998 non-null   int64
 15  Logical                2998 non-null   int64
 16  Quant                  2998 non-null   int64
 17  Domain                 2998 non-null   float64
 18  ComputerProgramming    2998 non-null   int64
 19  ElectronicsAndSemicon  2998 non-null   int64
 20  ComputerScience        2998 non-null   int64
 21  MechanicalEngg         2998 non-null   int64
 22  ElectricalEngg         2998 non-null   int64
 23  TelecomEngg            2998 non-null   int64
 24  CivilEngg              2998 non-null   int64
 25  conscientiousness      2998 non-null   float64
 26  agreeableness          2998 non-null   float64
 27  extraversion           2998 non-null   float64
 28  nueroticism            2998 non-null   float64
 29  openess_to_experience  2998 non-null   float64
 30  Salary                 2998 non-null   int64
dtypes: float64(9), int64(15), object(7)
memory usage: 726.2+ KB

In [33]:
df1.isna().any()

Gender                   False
DOB                      False
10percentage             False
10board                  False
12graduation             False
12percentage             False
12board                  False
CollegeTier              False
Degree                   False
Specialization           False
collegeGPA               False
CollegeCityTier          False
CollegeState             False
GraduationYear           False
English                  False
Logical                  False
Quant                    False
Domain                   False
ComputerProgramming      False
ElectronicsAndSemicon    False
ComputerScience          False
MechanicalEngg           False
ElectricalEngg           False
TelecomEngg              False
CivilEngg                False
conscientiousness        False
agreeableness            False
extraversion             False
nueroticism              False
openess_to_experience    False
Salary                   False
dtype: bool

In [35]:
df1.Gender.value_counts()

m    2282
f     716
Name: Gender, dtype: int64

In [36]:
df1.Gender=df1.Gender.map({'m': 1, 'f': 0})

In [37]:
df1.Gender.value_counts()

1    2282
0     716
Name: Gender, dtype: int64

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2998 entries, 0 to 2997
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 2998 non-null   int64
 1   DOB                    2998 non-null   object
 2   10percentage           2998 non-null   float64
 3   10board                2998 non-null   object
 4   12graduation           2998 non-null   int64
 5   12percentage           2998 non-null   float64
 6   12board                2998 non-null   object
 7   CollegeTier            2998 non-null   int64
 8   Degree                 2998 non-null   object
 9   Specialization         2998 non-null   object
 10  collegeGPA             2998 non-null   float64
 11  CollegeCityTier        2998 non-null   int64
 12  CollegeState           2998 non-null   object
 13  GraduationYear         2998 non-null   int64
 14  English                2998 non-null   int64
 15  Logical                2998 non-null   int64
 16  Quant                  2998 non-null   int64
 17  Domain                 2998 non-null   float64
 18  ComputerProgramming    2998 non-null   int64
 19  ElectronicsAndSemicon  2998 non-null   int64
 20  ComputerScience        2998 non-null   int64
 21  MechanicalEngg         2998 non-null   int64
 22  ElectricalEngg         2998 non-null   int64
 23  TelecomEngg            2998 non-null   int64
 24  CivilEngg              2998 non-null   int64
 25  conscientiousness      2998 non-null   float64
 26  agreeableness          2998 non-null   float64
 27  extraversion           2998 non-null   float64
 28  nueroticism            2998 non-null   float64
 29  openess_to_experience  2998 non-null   float64
 30  Salary                 2998 non-null   int64
dtypes: float64(9), int64(16), object(6)
memory usage: 726.2+ KB

In [40]:
df1.DOB = pd.to_datetime(df1.DOB)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2998 entries, 0 to 2997
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 2998 non-null   int64
 1   DOB                    2998 non-null   datetime64[ns]
 2   10percentage           2998 non-null   float64
 3   10board                2998 non-null   object
 4   12graduation           2998 non-null   int64
 5   12percentage           2998 non-null   float64
 6   12board                2998 non-null   object
 7   CollegeTier            2998 non-null   int64
 8   Degree                 2998 non-null   object
 9   Specialization         2998 non-null   object
 10  collegeGPA             2998 non-null   float64
 11  CollegeCityTier        2998 non-null   int64
 12  CollegeState           2998 non-null   object
 13  GraduationYear         2998 non-null   int64
 14  English                2998 non-null   int64
 15  Logical                2998 non-null   int64
 16  Quant                  2998 non-null   int64
 17  Domain                 2998 non-null   float64
 18  ComputerProgramming    2998 non-null   int64
 19  ElectronicsAndSemicon  2998 non-null   int64
 20  ComputerScience        2998 non-null   int64
 21  MechanicalEngg         2998 non-null   int64
 22  ElectricalEngg         2998 non-null   int64
 23  TelecomEngg            2998 non-null   int64
 24  CivilEngg              2998 non-null   int64
 25  conscientiousness      2998 non-null   float64
 26  agreeableness          2998 non-null   float64
 27  extraversion           2998 non-null   float64
 28  nueroticism            2998 non-null   float64
 29  openess_to_experience  2998 non-null   float64
 30  Salary                 2998 non-null   int64
dtypes: datetime64[ns](1), float64(9), int64(16), object(5)
memory usage: 726.2+ KB

In [47]:
df1 = df1.assign(
    dob_year = df1.DOB.dt.year,
    dob_month = df1.DOB.dt.month,
    dob_day = df1.DOB.dt.day
)
df1.shape

(2998, 34)

In [48]:
df1.head()

,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,...,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary,dob_year,dob_month,dob_day
0,0,1990-10-22,87.80,cbse,2009,84.00,cbse,1,B.Tech/B.E.,instrumentation and control engineering,...,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000,1990,10,22
1,1,1990-05-15,57.00,cbse,2010,64.50,cbse,2,B.Tech/B.E.,computer science & engineering,...,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000,1990,5,15
2,1,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,2,B.Tech/B.E.,electronics & telecommunications,...,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000,1989,8,21
3,1,1991-05-04,84.30,cbse,2009,86.00,cbse,1,B.Tech/B.E.,computer science & engineering,...,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000,1991,5,4
4,0,1990-10-30,82.00,cbse,2008,75.00,cbse,2,B.Tech/B.E.,biotechnology,...,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000,1990,10,30

In [55]:
df1.drop(['10board'],axis=1,inplace=True)

In [56]:
df1.head()

,Gender,DOB,10percentage,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,...,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary,dob_year,dob_month,dob_day
0,0,1990-10-22,87.80,2009,84.00,cbse,1,B.Tech/B.E.,instrumentation and control engineering,73.82,...,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000,1990,10,22
1,1,1990-05-15,57.00,2010,64.50,cbse,2,B.Tech/B.E.,computer science & engineering,65.00,...,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000,1990,5,15
2,1,1989-08-21,77.33,2007,85.17,amravati divisional board,2,B.Tech/B.E.,electronics & telecommunications,61.94,...,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000,1989,8,21
3,1,1991-05-04,84.30,2009,86.00,cbse,1,B.Tech/B.E.,computer science & engineering,80.40,...,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000,1991,5,4
4,0,1990-10-30,82.00,2008,75.00,cbse,2,B.Tech/B.E.,biotechnology,64.30,...,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000,1990,10,30

In [58]:
df1.drop('12board',axis=1,inplace=True)

In [59]:
df1.shape

(2998, 32)

In [61]:
df1.drop('DOB',axis=1,inplace=True)

In [62]:
df1.head()

,Gender,10percentage,12graduation,12percentage,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,...,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary,dob_year,dob_month,dob_day
0,0,87.80,2009,84.00,1,B.Tech/B.E.,instrumentation and control engineering,73.82,1,Delhi,...,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000,1990,10,22
1,1,57.00,2010,64.50,2,B.Tech/B.E.,computer science & engineering,65.00,0,Uttar Pradesh,...,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000,1990,5,15
2,1,77.33,2007,85.17,2,B.Tech/B.E.,electronics & telecommunications,61.94,0,Maharashtra,...,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000,1989,8,21
3,1,84.30,2009,86.00,1,B.Tech/B.E.,computer science & engineering,80.40,1,Delhi,...,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000,1991,5,4
4,0,82.00,2008,75.00,2,B.Tech/B.E.,biotechnology,64.30,1,Tamil Nadu,...,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000,1990,10,30

In [63]:
df1.Degree.value_counts()

B.Tech/B.E.      2757
MCA               200
M.Tech./M.E.       40
M.Sc. (Tech.)       1
Name: Degree, dtype: int64

In [64]:
df1.shape

(2998, 31)

In [67]:
df1 = pd.get_dummies(df1, columns=['Degree'])
df1.shape

(2998, 34)

In [70]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2998 entries, 0 to 2997
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 2998 non-null   int64
 1   10percentage           2998 non-null   float64
 2   12graduation           2998 non-null   int64
 3   12percentage           2998 non-null   float64
 4   CollegeTier            2998 non-null   int64
 5   Specialization         2998 non-null   object
 6   collegeGPA             2998 non-null   float64
 7   CollegeCityTier        2998 non-null   int64
 8   CollegeState           2998 non-null   object
 9   GraduationYear         2998 non-null   int64
 10  English                2998 non-null   int64
 11  Logical                2998 non-null   int64
 12  Quant                  2998 non-null   int64
 13  Domain                 2998 non-null   float64
 14  ComputerProgramming    2998 non-null   int64
 15  ElectronicsAndSemicon  2998 non-null   int64
 16  ComputerScience        2998 non-null   int64
 17  MechanicalEngg         2998 non-null   int64
 18  ElectricalEngg         2998 non-null   int64
 19  TelecomEngg            2998 non-null   int64
 20  CivilEngg              2998 non-null   int64
 21  conscientiousness      2998 non-null   float64
 22  agreeableness          2998 non-null   float64
 23  extraversion           2998 non-null   float64
 24  nueroticism            2998 non-null   float64
 25  openess_to_experience  2998 non-null   float64
 26  Salary                 2998 non-null   int64
 27  dob_year               2998 non-null   int64
 28  dob_month              2998 non-null   int64
 29  dob_day                2998 non-null   int64
 30  Degree_B.Tech/B.E.     2998 non-null   uint8
 31  Degree_M.Sc. (Tech.)   2998 non-null   uint8
 32  Degree_M.Tech./M.E.    2998 non-null   uint8
 33  Degree_MCA             2998 non-null   uint8
dtypes: float64(9), int64(19), object(2), uint8(4)
memory usage: 714.5+ KB

In [75]:
df1.shape

(2998, 34)

In [74]:
df1.CollegeState.value_counts()

Uttar Pradesh        698
Karnataka            281
Tamil Nadu           264
Telangana            249
Maharashtra          189
Andhra Pradesh       172
West Bengal          145
Madhya Pradesh       144
Punjab               141
Haryana              136
Orissa               130
Rajasthan            126
Delhi                122
Uttarakhand           81
Kerala                24
Jharkhand             20
Gujarat               18
Chhattisgarh          17
Himachal Pradesh      13
Bihar                  8
Union Territory        5
Jammu and Kashmir      5
Assam                  5
Sikkim                 2
Meghalaya              2
Goa                    1
Name: CollegeState, dtype: int64

In [71]:
df1.Specialization.value_counts()

electronics and communication engineering      670
computer science & engineering                 557
information technology                         506
computer engineering                           415
computer application                           201
mechanical engineering                         155
electronics and electrical engineering         148
electronics & telecommunications                89
electrical engineering                          63
electronics & instrumentation eng               24
instrumentation and control engineering         18
information science engineering                 18
electronics and instrumentation engineering     18
civil engineering                               15
electronics engineering                         13
biotechnology                                   12
other                                           10
industrial & production engineering              8
chemical engineering                             7
applied electronics and instrumentation          5
mechanical and automation                        5
telecommunication engineering                    4
automobile/automotive engineering                4
computer science and technology                  4
aeronautical engineering                         3
instrumentation engineering                      3
electronics and computer engineering             3
mechatronics                                     3
metallurgical engineering                        2
industrial engineering                           2
biomedical engineering                           2
information & communication technology           1
electronics                                      1
embedded systems technology                      1
industrial & management engineering              1
electrical and power engineering                 1
computer and communication engineering           1
mechanical & production engineering              1
control and instrumentation engineering          1
ceramic engineering                              1
computer networking                              1
information science                              1
Name: Specialization, dtype: int64

Im thinking of keeping only categories which have freq >20 and encoding them while dropping others, however will try both with and without!