In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import jinja2

In [2]:
df = pd.read_csv('Engineering_graduate_salary.csv')
df.head()

,ID,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,f,1990-10-22,87.80,cbse,2009,84.00,cbse,6920,1,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,988334,m,1990-05-15,57.00,cbse,2010,64.50,cbse,6624,2,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,301647,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,9084,2,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,582313,m,1991-05-04,84.30,cbse,2009,86.00,cbse,8195,1,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,339001,f,1990-10-30,82.00,cbse,2008,75.00,cbse,4889,2,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [6]:
df1 = df.drop(['ID','CollegeID'],axis=1)
df1.shape

(2998, 32)

In [9]:
df1.head()

,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,f,1990-10-22,87.80,cbse,2009,84.00,cbse,1,B.Tech/B.E.,instrumentation and control engineering,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,m,1990-05-15,57.00,cbse,2010,64.50,cbse,2,B.Tech/B.E.,computer science & engineering,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,2,B.Tech/B.E.,electronics & telecommunications,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,m,1991-05-04,84.30,cbse,2009,86.00,cbse,1,B.Tech/B.E.,computer science & engineering,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,f,1990-10-30,82.00,cbse,2008,75.00,cbse,2,B.Tech/B.E.,biotechnology,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2998 entries, 0 to 2997
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 2998 non-null   object
 1   DOB                    2998 non-null   object
 2   10percentage           2998 non-null   float64
 3   10board                2998 non-null   object
 4   12graduation           2998 non-null   int64
 5   12percentage           2998 non-null   float64
 6   12board                2998 non-null   object
 7   CollegeTier            2998 non-null   int64
 8   Degree                 2998 non-null   object
 9   Specialization         2998 non-null   object
 10  collegeGPA             2998 non-null   float64
 11  CollegeCityID          2998 non-null   int64
 12  CollegeCityTier        2998 non-null   int64
 13  CollegeState           2998 non-null   object
 14  GraduationYear         2998 non-null   int64
 15  English                2998 non-null   int64
 16  Logical                2998 non-null   int64
 17  Quant                  2998 non-null   int64
 18  Domain                 2998 non-null   float64
 19  ComputerProgramming    2998 non-null   int64
 20  ElectronicsAndSemicon  2998 non-null   int64
 21  ComputerScience        2998 non-null   int64
 22  MechanicalEngg         2998 non-null   int64
 23  ElectricalEngg         2998 non-null   int64
 24  TelecomEngg            2998 non-null   int64
 25  CivilEngg              2998 non-null   int64
 26  conscientiousness      2998 non-null   float64
 27  agreeableness          2998 non-null   float64
 28  extraversion           2998 non-null   float64
 29  nueroticism            2998 non-null   float64
 30  openess_to_experience  2998 non-null   float64
 31  Salary                 2998 non-null   int64
dtypes: float64(9), int64(16), object(7)
memory usage: 749.6+ KB