In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import jinja2
from sklearn.metrics import confusion_matrix, precision_score, recall_score

In [5]:
df = pd.read_excel('PVA97NK_Final.xlsx')
df.to_csv('data.csv',index=False)

In [6]:
df = pd.read_csv('data.csv')
df.shape

(9686, 28)

In [7]:
df.head()

,TargetB,ID,TargetD,GiftCnt36,GiftCntAll,GiftCntCard36,GiftCntCardAll,GiftAvgLast,GiftAvg36,GiftAvgAll,...,PromCntCardAll,StatusCat96NK,StatusCatStarAll,DemCluster,DemAge,DemGender,DemHomeOwner,DemMedHomeValue,DemPctVeterans,DemMedIncome
0,0,14974,NaN,2,4,1,3,17.0,13.50,9.25,...,13,A,0,0,NaN,F,U,0,0,0
1,0,6294,NaN,1,8,0,3,20.0,20.00,15.88,...,24,A,0,23,67.0,F,U,186800,85,0
2,1,46110,4.0,6,41,3,20,6.0,5.17,3.73,...,22,S,1,0,NaN,M,U,87600,36,38750
3,1,185937,10.0,3,12,3,8,10.0,8.67,8.50,...,16,E,1,0,NaN,M,U,139200,27,38942
4,0,29637,NaN,1,1,1,1,20.0,20.00,20.00,...,6,F,0,35,53.0,M,U,168100,37,71509

In [9]:
df1 = df.copy(deep=True)
df1.head()

,TargetB,ID,TargetD,GiftCnt36,GiftCntAll,GiftCntCard36,GiftCntCardAll,GiftAvgLast,GiftAvg36,GiftAvgAll,...,PromCntCardAll,StatusCat96NK,StatusCatStarAll,DemCluster,DemAge,DemGender,DemHomeOwner,DemMedHomeValue,DemPctVeterans,DemMedIncome
0,0,14974,NaN,2,4,1,3,17.0,13.50,9.25,...,13,A,0,0,NaN,F,U,0,0,0
1,0,6294,NaN,1,8,0,3,20.0,20.00,15.88,...,24,A,0,23,67.0,F,U,186800,85,0
2,1,46110,4.0,6,41,3,20,6.0,5.17,3.73,...,22,S,1,0,NaN,M,U,87600,36,38750
3,1,185937,10.0,3,12,3,8,10.0,8.67,8.50,...,16,E,1,0,NaN,M,U,139200,27,38942
4,0,29637,NaN,1,1,1,1,20.0,20.00,20.00,...,6,F,0,35,53.0,M,U,168100,37,71509

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9686 entries, 0 to 9685
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TargetB           9686 non-null   int64
 1   ID                9686 non-null   int64
 2   TargetD           4843 non-null   float64
 3   GiftCnt36         9686 non-null   int64
 4   GiftCntAll        9686 non-null   int64
 5   GiftCntCard36     9686 non-null   int64
 6   GiftCntCardAll    9686 non-null   int64
 7   GiftAvgLast       9686 non-null   float64
 8   GiftAvg36         9686 non-null   float64
 9   GiftAvgAll        9686 non-null   float64
 10  GiftAvgCard36     7906 non-null   float64
 11  GiftTimeLast      9686 non-null   int64
 12  GiftTimeFirst     9686 non-null   int64
 13  PromCnt12         9686 non-null   int64
 14  PromCnt36         9686 non-null   int64
 15  PromCntAll        9686 non-null   int64
 16  PromCntCard12     9686 non-null   int64
 17  PromCntCard36     9686 non-null   int64
 18  PromCntCardAll    9686 non-null   int64
 19  StatusCat96NK     9686 non-null   object
 20  StatusCatStarAll  9686 non-null   int64
 21  DemCluster        9686 non-null   int64
 22  DemAge            7279 non-null   float64
 23  DemGender         9686 non-null   object
 24  DemHomeOwner      9686 non-null   object
 25  DemMedHomeValue   9686 non-null   int64
 26  DemPctVeterans    9686 non-null   int64
 27  DemMedIncome      9686 non-null   int64
dtypes: float64(6), int64(19), object(3)
memory usage: 2.1+ MB

In [11]:
df1.nunique()

TargetB                2
ID                  9686
TargetD               70
GiftCnt36             16
GiftCntAll            69
GiftCntCard36         10
GiftCntCardAll        31
GiftAvgLast           90
GiftAvg36            654
GiftAvgAll          1584
GiftAvgCard36        399
GiftTimeLast          24
GiftTimeFirst        136
PromCnt12             49
PromCnt36             68
PromCntAll           140
PromCntCard12         17
PromCntCard36         27
PromCntCardAll        51
StatusCat96NK          6
StatusCatStarAll       2
DemCluster            54
DemAge                79
DemGender              3
DemHomeOwner           2
DemMedHomeValue     2533
DemPctVeterans        79
DemMedIncome        4463
dtype: int64

In [14]:
df1.drop(['ID'],axis=1,inplace=True)

In [15]:
df1.head(3)

,TargetB,TargetD,GiftCnt36,GiftCntAll,GiftCntCard36,GiftCntCardAll,GiftAvgLast,GiftAvg36,GiftAvgAll,GiftAvgCard36,...,PromCntCardAll,StatusCat96NK,StatusCatStarAll,DemCluster,DemAge,DemGender,DemHomeOwner,DemMedHomeValue,DemPctVeterans,DemMedIncome
0,0,NaN,2,4,1,3,17.0,13.50,9.25,17.0,...,13,A,0,0,NaN,F,U,0,0,0
1,0,NaN,1,8,0,3,20.0,20.00,15.88,NaN,...,24,A,0,23,67.0,F,U,186800,85,0
2,1,4.0,6,41,3,20,6.0,5.17,3.73,5.0,...,22,S,1,0,NaN,M,U,87600,36,38750

In [16]:
df1.columns

Index(['TargetB', 'TargetD', 'GiftCnt36', 'GiftCntAll', 'GiftCntCard36',
       'GiftCntCardAll', 'GiftAvgLast', 'GiftAvg36', 'GiftAvgAll',
       'GiftAvgCard36', 'GiftTimeLast', 'GiftTimeFirst', 'PromCnt12',
       'PromCnt36', 'PromCntAll', 'PromCntCard12', 'PromCntCard36',
       'PromCntCardAll', 'StatusCat96NK', 'StatusCatStarAll', 'DemCluster',
       'DemAge', 'DemGender', 'DemHomeOwner', 'DemMedHomeValue',
       'DemPctVeterans', 'DemMedIncome'],
      dtype='object')

In [ ]:
a = ['a','b']
a={'a':1,'b':2}

In [17]:
categorical = [var for var in df1.columns if df1[var].dtype=='O']
print('There are {} categorical variables\n'.format(len(categorical)))
if len(categorical)>1:
    print('The categorical variables :', categorical)

There are 3 categorical variables

The categorical variables : ['StatusCat96NK', 'DemGender', 'DemHomeOwner']

In [18]:
numerical = [var for var in df1.columns if df1[var].dtype!='O']
print('There are {} numerical variables\n'.format(len(numerical)))
if len(numerical)>1:
    print('The numerical variables :', numerical)

There are 24 numerical variables

The numerical variables : ['TargetB', 'TargetD', 'GiftCnt36', 'GiftCntAll', 'GiftCntCard36', 'GiftCntCardAll', 'GiftAvgLast', 'GiftAvg36', 'GiftAvgAll', 'GiftAvgCard36', 'GiftTimeLast', 'GiftTimeFirst', 'PromCnt12', 'PromCnt36', 'PromCntAll', 'PromCntCard12', 'PromCntCard36', 'PromCntCardAll', 'StatusCatStarAll', 'DemCluster', 'DemAge', 'DemMedHomeValue', 'DemPctVeterans', 'DemMedIncome']

Missing Values